<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pretty.deploy.audit.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.pretty.deploy.audit.entity.User">
    <!--@Table TF_DEPLOY_AUDIT_USER-->
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TEL_NUM" jdbcType="VARCHAR" property="telNum" />
    <result column="ROLE_STR" jdbcType="VARCHAR" property="roleStr" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <select id="selectPageVo" resultMap="BaseResultMap">
    SELECT * FROM TF_DEPLOY_AUDIT_USER
    <where>
      ${ew.sqlSegment}
    </where>
</select>

 <update id="updateUser" parameterType="com.pretty.deploy.audit.entity.User">
   update TF_DEPLOY_AUDIT_USER
   <set>
     <if test="userInfo.telNum != null">
       TEL_NUM = #{userInfo.telNum,jdbcType=VARCHAR},
     </if>
     <if test="userInfo.nickName != null">
       NICK_NAME = #{userInfo.nickName,jdbcType=TIMESTAMP},
     </if>
     <if test="userInfo.userName != null">
       USER_NAME = #{userInfo.userName,jdbcType=VARCHAR},
     </if>
     <if test="userInfo.roleStr != null">
       ROLE_STR = #{userInfo.roleStr,jdbcType=VARCHAR},
     </if>
     <if test="userInfo.email != null">
       EMAIL = #{userInfo.email,jdbcType=VARCHAR},
     </if>
   </set>
   where ID = #{userInfo.id}
 </update>

</mapper>
